{% extends 'layout.html' %}

{% block script %}
  <script type="text/javascript" >
    $(document).ready(() => {
      const now = new Date();
  
      setInterval(() => $.ajax({
        url: '/api/restaurant/order/notification/' + now.toISOString() + '/',
        method: 'GET',
        success: function (data) {
          if (data.notification === 0) {
            $('.badge').text('')
          } else {
            $('.badge').text(data.notification)
          }
        }
      }), 3000)
    })
  </script>
{% endblock script %}


{% block sidebar %} 
  <div class="text-center mt-4">
    <img 
      src="{{ request.user.restaurant.logo.url }}" 
      class="rounded-circle" 
      height="80"
      width="80"
      alt="Restaurant Logo"
    />
    <br><br>
    <h5>{{ request.user.get_full_name }}</h5>
    <h6>{{ request.user.restaurant.name }}</h6>
  </div>

  <hr>

  <div class="list-group">
    <span class="text-uppercase">
      Dashboard {{request.pathname}}
    </span>

    <a href="{% url 'meal' %}" class="list-group-item {% if request.path == '/restaurant/meal' %} active {% endif %}">
      Еда
      <span class="badge badge-warning ml-2"></span>
    </a>

    <a href="{% url 'order' %}" class="list-group-item {% if request.path == '/restaurant/order' %} active {% endif %}">Заказы</a>

    <a href="{% url 'report' %}" class="list-group-item {% if request.path == '/restaurant/report' %} active {% endif %}">Отчеты</a>

    <span class="text-uppercase">
      Profile
    </span>

    <a href="{% url 'account' %}" class="list-group-item {% if request.path == '/account' %} active {% endif %}">Аккаунт</a>
  </div>

  <div class="text-center my-3 mx-3">
    <a href="{% url 'sign_out' %}" class="btn btn-warning btn-block" >Выйти из профиля</a>
  </div>
  <hr>
{% endblock sidebar %}