{% extends 'layout.html' %}

{% block sidebar %} 
  <div class="text-center mt-4">
    <img 
      src="{{ request.user.restaurant.logo.url }}" 
      class="rounded-circle" 
      height="80"
      width="80"
      alt="Restaurant Logo"
    />
    <br><br>
    <h5>{{ request.user.get_full_name }}</h5>
    <h6>{{ request.user.restaurant.name }}</h6>
  </div>

  <hr>

  <div class="list-group">
    <span class="text-uppercase">
      Dashboard {{request.pathname}}
    </span>

    <a href="{% url 'meal' %}" class="list-group-item {% if request.path == '/restaurant/meal' %} active {% endif %}">Еда</a>

    <a href="{% url 'order' %}" class="list-group-item {% if request.path == '/restaurant/order' %} active {% endif %}">Заказы</a>

    <a href="{% url 'report' %}" class="list-group-item {% if request.path == '/restaurant/report' %} active {% endif %}">Отчеты</a>

    <span class="text-uppercase">
      Profile
    </span>

    <a href="{% url 'account' %}" class="list-group-item {% if request.path == '/account' %} active {% endif %}">Аккаунт</a>
  </div>

  <div class="text-center my-3 mx-3">
    <a href="{% url 'sign_out' %}" class="btn btn-warning btn-block" >Выйти из профиля</a>
  </div>
  <hr>
{% endblock sidebar %}