{% extends 'base_auth.html' %}
{% load bootstrap4 %}

{% block title %} Регистрация {% endblock title %}

{% block heading %} Ресторан - Регистрация {% endblock heading %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form restaurant_form %}

    <button type="submit" class="btn btn-black btn-block">Зарегистрироваться</button>

    <div class="text-center mt-3">
      <a href="{% url 'sign_in' %}">Уже есть аккаунт</a>
    </div>
  </form>
{% endblock content %}